/target/
/logs/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
/src/main/resources/application-local.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


# In the Apple macOS operating system,
# .DS_Store is a file that stores custom attributes of its containing folder
.DS_Store
